In [24]:
import os
import pandas as pd
def getParent(path: str, levels=2) -> str:
    """
    @param path: starts without /
    @return: Parent path at the specified levels above.
    """
    current_directory = os.path.dirname("__file__")

    parent_directory = current_directory
    for i in range(0, levels):
        parent_directory = os.path.split(parent_directory)[0]

    file_path = os.path.join(parent_directory, path)
    return file_path
    
    
filePath = getParent("data/top25_dfs.pickle",1)

In [25]:
filePath

'data/top25_dfs.pickle'

In [26]:
cpath = os.getcwd()

In [27]:
 for i in range(0, 1):
        parent_directory = os.path.split(cpath)[0]

In [31]:
fpath = os.path.join(parent_directory, "data/top25_dfs.pickle")

In [32]:
fpath

'D:\\sigmod_reproduce\\data/top25_dfs.pickle'

In [33]:
object = pd.read_pickle(fpath)
data = object[1]

,Rank1,Rank2,Rank3,Rank4,Rank5,Rank6,Rank7,Rank8,Rank9,Rank10,...,Rank17,Rank18,Rank19,Rank20,Rank21,Rank22,Rank23,Rank24,Rank,Division
Adam Thielen,10,9,9,9,9,8,4,9,8,12,...,9,12,11,8,9,9,10,12,9,1
Mike Evans,5,4,4,7,4,1,7,4,4,4,...,6,8,2,4,4,4,9,4,4,1